<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/log" method="post">
        <input type="text" name="username" value=""><br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>